* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;  */
}
h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
}
.link:link {
  color: blue;
}
.link:visited {
  color: rgb(153, 0, 173);
}
.link:hover {
  color: deeppink;
}
.link:active {
  color: rgb(165, 168, 0);
}
.price {
  font-weight: bold;
  font-size: 22px;
}

ul {
  list-style-type: square;
  margin-left: 25px;
  font-size: 20px;
}
li {
  margin-bottom: 10px;
}
.addbtn {
  background-color: black;
  color: white;
  border: 0;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-top: 3px solid black;
  padding: 15px;
}
.addbtn:hover {
  background-color: white;
  color: black;
}
h3 {
  margin: 10px 0;
  font-size: 30px;
}
.container-main {
  border: black 3px solid;
  width: 900px;
  margin: 400px;
  margin: auto;
  margin-top: 30px;
}
h2::before {
  content: "SALE";
  background-color: rgb(250, 69, 69);
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  bottom: 30px;
  right: 180px;
}

/* .black {
  background: black;
  height: 50%;
  width: 50%;
  position: relative;
  } */
.black {
  background-color: black;
  margin-left: 0;
  height: 25px;
  width: 25px;
}
.blue {
  background-color: blue;

  height: 25px;
  width: 25px;
}
.red {
  background-color: red;
  height: 25px;
  width: 25px;
}
.yellow {
  background-color: yellow;
  height: 25px;
  width: 25px;
}
.green {
  background-color: green;
  height: 25px;
  width: 25px;
}
.box {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}
/* section {
  float: left;
  width: 300px;
  margin-right: 30px;
}
article {
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-right: 30px;
}
aside {
  float: right;
  width: 300px;
  margin-top: 20px;
  margin-right: 30px;
}
/* img {
  margin-right: 50px;
  } */

/* .free {
  color: rgb(160, 156, 156);
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 10px;
  float: right;
  margin-top: 10px;
  font-weight: bolder;
}
.price {
  float: left;
  margin-bottom: 0;
  font-size: 35px;
}
.content {
  clear: none;
  margin-top: 50px;
  font-size: 22px;
}  */
p {
  margin-bottom: 20px;
}
.link {
  font-size: 20px;
}
.parent {
  margin-top: 40px;
}
.all {
  display: flex;
}
.container {
  margin-left: 25px;
}
aside {
  margin-left: 25px;
  margin-top: 20px;
}
.price-free {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
